* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  background-image: url("img/background3.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center bottom;
  height: 900px;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  color: white;
  text-align: left;
  padding-top: 40px;
}
.navigateur {
  overflow: hidden;
  padding: 30px;
}

.navigateur a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5%;
  margin-left: 5px;
}

.navigateur a:hover {
  background-color: #ddd;
  color: #333;
}

.navigateur a.active {
  background-color: #006699;
  color: white;
}

.navigateur .search {
  float: right;
}

.navigateur input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navigateur .search button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navigateur .search button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .navigateur .search {
    float: none;
  }
  .navigateur a,
  .navigateur input[type="text"],
  .navigateur .search button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navigateur input[type="text"] {
    border: 1px solid #ccc;
  }
}
.logo {
  height: 100px;
  width: 200px;
  float: left;
  padding: 0px 20px;
}

.main {
  padding: 40px;
}

.slide {
  position: relative;
  width: 50%;
}
.image {
  opacity: 1;
  display: block;
  width: 50%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 110px;
  left: 107px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.slide:hover .image {
  opacity: 0.3;
}
.slide:hover .middle {
  opacity: 1;
}
.name,
.auther,
.rate,
.price {
  color: #333;
  font-size: 14px;
  padding: 5px 32px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.main-profile {
  height: 1100px;
  background-color: #333;
  padding: 50px 50px;
}

.profile {
  background-color: white;
  height: 1100px;
  border-radius: 5%;
}

.img-profile {
  position: relative;
  width: 200px;
  padding: 100px 150px 0 200px;
  float: left;
}

.name-profile {
  font-size: 28px;
  font-weight: bold;
  padding-top: 150px;
}
.job-profile {
  font-size: 18px;
  color: #006699;
  padding-top: 5px;
}
.edite-profile {
  float: right;
  border-radius: 5%;
  background-color: #d9d9d9;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  padding: 10px;
  margin: 100px 100px 0 0;
}
.edite-profile:hover {
  background-color: #006699;
}
.edite-profile a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
}
.edite-profile-link {
  color: #333;
}
.about-profile {
  padding: 100px 210px 0 210px;
}
.about-title-profile {
  font-size: 28px;
  border-bottom: 1px solid #006699;
  border-bottom-width: 1px;
  padding-top: 70px;
}
.id-profile {
  padding-top: 30px;
  font-size: 20px;
  font-weight: bold;
  float: left;
}
.id-user-profile {
  padding-top: 34px;
  padding-left: 200px;
  padding-bottom: 1px;
  color: #006699;
  font-weight: 600;
}
